In [1]:
import pandas as pd

df = pd.read_csv('파일경로')

df

,PUBCHEM_CID,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME,PUBCHEM_ACTIVITY_SCORE,MESH
0,2962067.0,C1=CC=C(C=C1)CCC(=O)NC(=S)NC2=CC=CC=C2[N+](=O)...,Inactive,0.0,D016773
1,4547230.0,CC1=C(C=C(C=C1)NS(=O)(=O)C2=CC3=C(C=C2)NC(=O)C...,Inactive,0.0,D016773
2,22517460.0,CC1=C(C=CC(=C1)F)S(=O)(=O)NCC(C2=CN=CC=C2)N3CC...,Inactive,0.0,D016773
3,3964482.0,C1CCC(=NNC(=O)CN2C3C(NC(=O)N3)NC2=O)C1,Inactive,0.0,D016773
4,3825783.0,C1=CC(=CC(=C1)C(F)(F)F)CNC(=O)CSCC(=O)O,Inactive,0.0,D016773
...,...,...,...,...,...
927585,658781.0,CC(=O)N=C(N)SC1=NC2=CC=CC=C2N1,Inactive,0.0,D014353
927586,1952761.0,COC1=C(C2=C(C=C1)C=NN(C2=O)C3=CC=C(C=C3)OC(F)(...,Inactive,0.0,D014353
927587,5737602.0,CC1=CC=C(C=C1)C(=O)N/C(=C\C2=CC(=CC=C2)[N+](=O...,Inactive,0.0,D014353
927588,5736918.0,COC1=CC=C(C=C1)/C=C/C(=O)NCCCN2C=CN=C2,Inactive,0.0,D014353
927589,1472000.0,CN1CCN(CC1)C(=O)CCC2=C(C=C(C=N2)C(F)(F)F)Cl,Inactive,0.0,D014353

In [2]:
df = df[df['MESH'] != 'D014355']

df

,PUBCHEM_CID,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME,PUBCHEM_ACTIVITY_SCORE,MESH
0,2962067.0,C1=CC=C(C=C1)CCC(=O)NC(=S)NC2=CC=CC=C2[N+](=O)...,Inactive,0.0,D016773
1,4547230.0,CC1=C(C=C(C=C1)NS(=O)(=O)C2=CC3=C(C=C2)NC(=O)C...,Inactive,0.0,D016773
2,22517460.0,CC1=C(C=CC(=C1)F)S(=O)(=O)NCC(C2=CN=CC=C2)N3CC...,Inactive,0.0,D016773
3,3964482.0,C1CCC(=NNC(=O)CN2C3C(NC(=O)N3)NC2=O)C1,Inactive,0.0,D016773
4,3825783.0,C1=CC(=CC(=C1)C(F)(F)F)CNC(=O)CSCC(=O)O,Inactive,0.0,D016773
...,...,...,...,...,...
927585,658781.0,CC(=O)N=C(N)SC1=NC2=CC=CC=C2N1,Inactive,0.0,D014353
927586,1952761.0,COC1=C(C2=C(C=C1)C=NN(C2=O)C3=CC=C(C=C3)OC(F)(...,Inactive,0.0,D014353
927587,5737602.0,CC1=CC=C(C=C1)C(=O)N/C(=C\C2=CC(=CC=C2)[N+](=O...,Inactive,0.0,D014353
927588,5736918.0,COC1=CC=C(C=C1)/C=C/C(=O)NCCCN2C=CN=C2,Inactive,0.0,D014353
927589,1472000.0,CN1CCN(CC1)C(=O)CCC2=C(C=C(C=N2)C(F)(F)F)Cl,Inactive,0.0,D014353

In [4]:
# D016773에 추가할 문자열
sequence_D016773 = 'MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGMSVARMNFSHGSHEYHQTTINNVRQAAAELGVNIAIALDTKGPEIRTGQFVGGDAVMERGATCYVTTDPAFADKGTKDKFYIDYQNLSKVVRPGNYIYIDDGILILQVQSHEDEQTLECTVTNSHTISDRRGVNLPGCDVDLPAVSAKDRVDLQFGVEQGVDMIFASFIRSAEQVGDVRKALGPKGRDIMIICKIENHQGVQNIDSIIEESDGIMVARGDLGVEIPAEKVVVAQKILISKCNVAGKPVICATQMLESMTYNPRPTRAEVSDVANAVFNGADCVMLSGETAKGKYPNEVVQYMARICLEAQSALNEYVFFNSIKKLQHIPMSADEAVCSSAVNSVYETKAKAMVVLSNTGRSARLVAKYRPNCPIVCVTTRLQTCRQLNITQGVESVFFDADKLGHDEGKEHRVAAGVEFAKSKGYVQTGDYCVVIHADHKVKGYANQTRILLVE'

# D014353에 추가할 문자열
sequence_D014353 = 'MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKYSSRTEFRDKTDYIMYNPRPRDEPSSENPVSVSPLLCELAAARSRIHFNPTETTIGIVTCGGICPGLNDVIRSITLTGINVYNVKRVIGFRFGYWGLSKKGSQTAIELHRGRVTNIHHYGGTILGSSRGPQDPKEMVDTLERLGVNILFTVGGDGTQRGALVISQEAKRRGVDISVFGVPKTIDNDLSFSHRTFGFQTAVEKAVQAIRAAYAEAVSANYGVGVVKLMGRDSGFIAAQAAVASAQANICLVPENPISEQEVMSLLERRFCHSRSCVIIVAEGFGQDWGRGSGGYDASGNKKLIDIGVILTEKVKAFLKANKSRYPDSTVKYIDPSYMIRACPPSANDALFCATLATLAVHEAMAGATGCIIAMRHNNYILVPIKVATSVRRVLDLRGQLWRQVREITVDLGSDVRLARKLEIRRELEAINRNRDRLHEELAKL'

# 새로운 문자열을 추가하는 함수 정의
def add_sequence(mesh_value, sequence_value):
    df.loc[df['MESH'] == mesh_value, 'Sequence'] = sequence_value

# 문자열 추가
add_sequence('D016773', sequence_D016773)
add_sequence('D014353', sequence_D014353)

df

,PUBCHEM_CID,PUBCHEM_EXT_DATASOURCE_SMILES,PUBCHEM_ACTIVITY_OUTCOME,PUBCHEM_ACTIVITY_SCORE,MESH,Sequence
0,2962067.0,C1=CC=C(C=C1)CCC(=O)NC(=S)NC2=CC=CC=C2[N+](=O)...,Inactive,0.0,D016773,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...
1,4547230.0,CC1=C(C=C(C=C1)NS(=O)(=O)C2=CC3=C(C=C2)NC(=O)C...,Inactive,0.0,D016773,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...
2,22517460.0,CC1=C(C=CC(=C1)F)S(=O)(=O)NCC(C2=CN=CC=C2)N3CC...,Inactive,0.0,D016773,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...
3,3964482.0,C1CCC(=NNC(=O)CN2C3C(NC(=O)N3)NC2=O)C1,Inactive,0.0,D016773,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...
4,3825783.0,C1=CC(=CC(=C1)C(F)(F)F)CNC(=O)CSCC(=O)O,Inactive,0.0,D016773,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...
...,...,...,...,...,...,...
927585,658781.0,CC(=O)N=C(N)SC1=NC2=CC=CC=C2N1,Inactive,0.0,D014353,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...
927586,1952761.0,COC1=C(C2=C(C=C1)C=NN(C2=O)C3=CC=C(C=C3)OC(F)(...,Inactive,0.0,D014353,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...
927587,5737602.0,CC1=CC=C(C=C1)C(=O)N/C(=C\C2=CC(=CC=C2)[N+](=O...,Inactive,0.0,D014353,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...
927588,5736918.0,COC1=CC=C(C=C1)/C=C/C(=O)NCCCN2C=CN=C2,Inactive,0.0,D014353,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...
927589,1472000.0,CN1CCN(CC1)C(=O)CCC2=C(C=C(C=N2)C(F)(F)F)Cl,Inactive,0.0,D014353,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...

In [5]:
df = df[['PUBCHEM_EXT_DATASOURCE_SMILES','Sequence','PUBCHEM_ACTIVITY_OUTCOME','PUBCHEM_ACTIVITY_SCORE']]

In [6]:
df

,PUBCHEM_EXT_DATASOURCE_SMILES,Sequence,PUBCHEM_ACTIVITY_OUTCOME,PUBCHEM_ACTIVITY_SCORE
0,C1=CC=C(C=C1)CCC(=O)NC(=S)NC2=CC=CC=C2[N+](=O)...,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...,Inactive,0.0
1,CC1=C(C=C(C=C1)NS(=O)(=O)C2=CC3=C(C=C2)NC(=O)C...,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...,Inactive,0.0
2,CC1=C(C=CC(=C1)F)S(=O)(=O)NCC(C2=CN=CC=C2)N3CC...,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...,Inactive,0.0
3,C1CCC(=NNC(=O)CN2C3C(NC(=O)N3)NC2=O)C1,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...,Inactive,0.0
4,C1=CC(=CC(=C1)C(F)(F)F)CNC(=O)CSCC(=O)O,MSQLAHNLTLSIFDPVANYRAARIICTIGPSTQSVEALKGLIQSGM...,Inactive,0.0
...,...,...,...,...
927585,CC(=O)N=C(N)SC1=NC2=CC=CC=C2N1,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...,Inactive,0.0
927586,COC1=C(C2=C(C=C1)C=NN(C2=O)C3=CC=C(C=C3)OC(F)(...,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...,Inactive,0.0
927587,CC1=CC=C(C=C1)C(=O)N/C(=C\C2=CC(=CC=C2)[N+](=O...,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...,Inactive,0.0
927588,COC1=CC=C(C=C1)/C=C/C(=O)NCCCN2C=CN=C2,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...,Inactive,0.0
927589,CN1CCN(CC1)C(=O)CCC2=C(C=C(C=N2)C(F)(F)F)Cl,MAVESRSRVTSKLVKAHRAMLNSVTQEDLKVDRLPGADYPNPSKKY...,Inactive,0.0

In [7]:
df.to_csv('smasemsc.csv')

In [8]:
df['PUBCHEM_ACTIVITY_OUTCOME'].value_counts()

PUBCHEM_ACTIVITY_OUTCOME
Inactive        616117
Inconclusive      6538
Active            1649
Name: count, dtype: int64

In [9]:
df['PUBCHEM_ACTIVITY_SCORE'].value_counts()

PUBCHEM_ACTIVITY_SCORE
0.0     616117
20.0      4209
21.0      1242
10.0       814
41.0       627
42.0       433
22.0       195
40.0       166
43.0       149
23.0        51
44.0        50
64.0        32
84.0        30
83.0        27
85.0        26
62.0        21
63.0        18
24.0        16
45.0        15
86.0        15
65.0        13
87.0         9
46.0         7
25.0         5
26.0         4
88.0         3
66.0         2
67.0         2
90.0         2
89.0         1
28.0         1
91.0         1
27.0         1
Name: count, dtype: int64